*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f6f7f9;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px;
}
.nav-item{
    display: flex;
    align-items: center;
    gap:6px;
    text-decoration: none;
    background-color: white;
    padding: 8px 12px;
    color: gray;
    position: relative;
}
.nav-item:hover{
    background-color: skyblue;
    color: white;
}
.hero-banner{
    min-height: 90vh;
    width: 100%;
    background-image: url("https://uttu316.github.io/Creative_Desing_Landing_Page/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}
.hero-content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.hero-banner-title{
    text-transform: uppercase;
    color: black;
    font-size: 38px;
    position: relative;
    top: -90px;
    text-shadow: 4px 4px 4px #ccc;
}

.job-section{
    margin: 40px;
   
}
.job-section-title{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: 30px;
}
.job-section-title::after{
    display: block;
    background-color: skyblue;
    height: 4px;
    width: 100px;
    margin: 0 auto;
    margin-top: 4px;
    content: "";
}
.jobs-filters-container{
margin-top:20px ;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
}
.job-filters{
    display: flex;
    align-items: center;
}
.job-filters label{
    margin-right:8px ;
    color: gray;
}
.job-filters select{
    margin-right: 20px;
}
.search_box{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 4px 8px;
    align-items: center;
    display: flex;
    gap: 8px;
    background-color: lightgrey;
    color: white;
}
.search_box input{
    border: none;
    background-color: inherit;

}
.search_box input:focus{
    outline: none;
}
.jobs_container{
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.job-card{
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 4px 4px 4px #ccc;
    display: flex;
    gap: 10px;
    max-width: 900px;
}
.job-card:hover{
    box-shadow: inset  4px 4px 4px #ccc;
}

.job_logo{
    height: 80px;
    background-color: #ccc;
    min-width: 80px;
    max-width: 80px;
    border-radius: 8px;
    overflow: hidden;
}
.job_logo_img{
    width: 80px;
    height: 80px;
}
.job_content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 20px;
}
.job-title{
    font-weight: bold;
    font-size: 18px;
}
.job_location{
   color: gray;
}
.job_salary{
    color: green;
    font-weight: bold;
    margin: 6px 0px;
}
.job_desc{
    font-size: 14px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.job_published{
    color: gray;
    font-size: 14px;
}
.job_tags{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.job_tag{
    font-size: 12px;
    background: #bbf1dd;
    padding: 4px 6px;
    border-radius: 4px;
}

.job_actions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.job_view_btn{
    background-color: #02bfa0;
    border: none;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    gap: 4px;
    box-shadow: 4px 4px 4px #02bfa0;
}
.job_view_btn:hover{
    background-color: #1a9b85;
     box-shadow: 4px 4px 4px #1a9b85;
}
.job_like_actions{
    margin-top: 15px;
    display: flex;
    gap: 8px;
}
.job_like_actions button{
    border: none;
    cursor: pointer;
    padding: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
 .job_unlike_btn:hover{
    background-color: rgb(235, 170, 170);
    color: white;
}
.job_unlike_btn{
    color:rgb(235, 170, 170) ;
    background: none;
}
.job_like_btn{
    color: skyblue;
    background: none;
}
.job_like_btn:hover{
    background-color: skyblue;
    color: white;
}
.job_liked_btn{
    background-color: skyblue;
    color: white;
}
#nav_fav{
    height: 14px;
    width: 14px;
    position: absolute;
    top: 4px;
    left: 22px;
    background-color: orange;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
