.loginForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.loginForm div {
    margin-bottom: 15px;
}

.loginForm label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.loginForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.loginForm button {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: rgb(8, 101, 101);
}

.loginHeading{
    color: teal;
    margin-bottom: 20px;
    text-align: center;
}
.error{
    color: red;
    font-size: 14px;
    margin-bottom: 8px;
}

.signin_link{
    margin-top: 5px;
    text-align: center;
    display: block;
}