.heading{
    color: red;
}


.chatHeader{
    display: flex;
    align-items: center;
    padding: 10px 16px;

    width: 100%;
    background-color: white;
    box-shadow: 4px 4px 4px #ccc;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 24px;
}
.heading{
    font-size: 24px;
    color: teal ;
    font-weight: bold;
}


.navBar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.navItem{
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    color: teal;
}
.navItem:hover{
    background-color: rgb(228, 245, 245);
}
.logLink{
    text-decoration: none;
}